.content {
  width: 85%;
  margin: 20px auto 0 auto;
  min-height: 70vh;
  align-items: stretch;

  .sideBox {
    display: flex;

    .sideMenu {
      width: 25%;
    }

    .carousel {
      width: 75%;
    }
  }

  .product {
    border-radius: var(--border-radius-default);
  }
}
