.content {
  margin-top: 30px;
  padding: 20px;
  background-color: var(--content-bg);
  border-radius: var(--border-radius-default);
}

.sideImage {
  width: 160px;
  display: block;
  border-radius: var(--border-radius-default);
  margin: 0 auto;
}
