.topHeader {
  display: flex;
  height: 40px;
  line-height: 40px;
  background-color: var(--top-header-bg);
  color: var(--header-text);
}

.slogan {
  width: 158px;
}

.topInnerBox {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 100%;
  margin: 5px auto 5px auto;
  padding: 0 4%;
}

.appHeader {
  background-color: var(--header-bg);
}

.mainHeader {
  background-color: var(--header-bg);
  height: 60px;
  line-height: 60px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  margin-left: 10px;
  line-height: 64px;
  display: inline;
  color: #03a9f4;
}

.searchInput {
  width: 400px;
  line-height: 64px;
  margin-top: 17px;
  margin-left: 37px;
}

.menu {
  width: 100%;
  padding: 0 6%;
  background-color: var(--color-bg-main-menu);

  .mainMenu {
    background-color: var(--color-bg-main-menu);
  }

  :global(a) {
    color: #ffffff;
    text-decoration: none;

    &:hover {
      color: #4096ff;
    }
  }
}

.appLogo {
  height: 60px;
  width: 60px;
  float: left;
}

@media (prefers-reduced-motion: no-preference) {
  .appLogo {
    animation: appLogoSpin infinite 20s linear;
  }
}

@keyframes appLogoSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
