:root {
  /* Light theme */
  --header-bg: #ffffff;
  --header-text: #000000;
  --sidebar-bg: #f0f0f0;
  --sidebar-text: #333333;
  --content-bg: #ffffff;
  --content-text: #000000;
  --footer-bg: #f0f0f0;
  --footer-text: #333333;
  /* Background colors */
  --color-bg-primary: #fff; /* 浅蓝灰色 */
  /* Text colors */
  --color-text-primary: #000000; /* 默认文本颜色 */
  /* Primary colors */
  --color-btn-primary: #007bff; /* 亮蓝色：用于操作按钮或重要状态的突出 */
  /* Accent colors */
  --color-accent-orange: #ffa500; /* 橙色：用于呼吁行动（CTA）按钮 */
  --color-accent-green: #28a745; /* 绿色：用于展示积极状态（如增长、成功等） */
  --color-switch-handle: #fff;

  /* Border and shadow */
  --border-default: 1 solid #d9d9d9;
  --border-radius-default: 8px;
  --box-shadow-default: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Dark theme */
.dark {
  --header-bg: #141414;
  --header-text: #ffffff;
  --sidebar-bg: #1f1f1f;
  --sidebar-text: #bbbbbb;
  --content-bg: #181818;
  --content-text: #eeeeee;
  --footer-bg: #1f1f1f;
  --footer-text: #bbbbbb;
  /* Background colors */
  --color-bg-primary: #181818;
  /* Text colors */
  --color-text-primary: #ffffff; /* 深色文本颜色 */
  /* Primary colors */
  --color-btn-primary: #004085; /* 深蓝色：用于主要的导航栏背景 */
  --switch-handle-color: #9b9b9b;
}

/* Ant Design switch style */
.ant-switch .ant-switch-handle::before {
  background-color: var(--color-bg-primary);
}
